<a href="https://colab.research.google.com/github/CHOOSLA/Self_Studying_of_Machine-Learning_and_Deep-Learning/blob/main/Chapter_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#로지스틱 회귀

#럭키백 만들기
#럭키백은 구성품을 모른채 먼저 구매하고, 배송받은 다음에야 비로소 구성품을 알 수 잇는 상품입니다.

#럭키백의 확률
#럭키백에 들어갈 수 있는 생선은 7개
#이번에는 길이 , 높이 , 두께 외에도 대각선 길이와 무게도 사용할 수 있다.


#데이터 준비하기
import pandas as pd
fish = pd.read_csv('https://bit.ly/fish_csv_data')
fish.head() #처음 5개의 행을 출력

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340